
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  background: linear-gradient(135deg, #0f1015, #1b1d26);
}

body {
  box-sizing: border-box;
  margin: auto;
}

.page-container {
  height: 100vh;
  padding: 10rem;
}
