$color-white: #FFFFFF;
$color-black: #000;
$color-primary-sidebar: #FCFAF8;
$color-primary-light: #e7f5ff;
$color-grey-dark: #777;
$color-primary-selected: #FFF0E5;
$color-grey-bg: #E8E7E5;

$font-color-primary-heading: darken($color-white, 60%);
