$color-white: #FFFFFF;
$color-black: #000;
$color-primary-sidebar: #293A66;
$color-primary-light: #e7f5ff;
$color-grey-dark: #777;
$color-primary-selected: #FFF0E5;
$color-grey-bg: #040A1A;

$font-color-primary-heading: #F7FCFD;
